/* Estilos para el bloque de contenido */
.content-block {
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0 auto;
  max-width: 1100px;
}

/* Estilos para pantallas con un ancho mínimo de 900px */
@media (min-width: 900px) {
  .content-block {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Estilos para pantallas con un ancho mínimo de 1200px */
@media (min-width: 1200px) {
  .content-block {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.hero-banner .content-block {
  display: flex;
  flex-direction: row;
}

.hero-banner .content-block .hero-text {
  width: 65%;
}

.hero-banner .content-block .hero-animation {
  margin-left: 40px;
  margin-top: 45px;
  width: 350px;
  height: 455px;
}

.hero-banner .content-block .hero-animation video {
  width: 350px;
  height: 455px;
}

/* Estilos para pantallas con un ancho mínimo de 1000px */
@media (min-width: 1000px) {
  .hero-banner .hero-image {
    display: initial;
    width: 270px;
  }
}

/* Estilos para pantallas con un ancho mínimo de 1200px */
@media (min-width: 1200px) {
  .hero-banner .hero-image {
    width: 340px;
  }
}

/* Estilos para pantallas con un ancho mínimo de 1400px */
@media (min-width: 1400px) {
  .hero-banner .hero-image {
    width: 440px;
  }
}

.hero-banner .hero-image p {
  margin-bottom: 0;
}

.hero-banner .hero-image-left {
  left: 0;
  bottom: 0;
}

.hero-banner .hero-image-right {
  right: 0;
  bottom: 0;
}

.hero-banner .content-block {
  z-index: 2;
}

/* Estilos para dispositivos que reducen el movimiento */
@media (prefers-reduced-motion: reduce) {
  .hero-banner .content-block {
    max-width: 660px;
  }
  .hero-banner .content-block .hero-text {
    width: 100%;
  }
  .hero-banner .content-block .hero-animation {
    display: none;
  }
}

/* Estilos para pantallas con un ancho máximo de 1200px */
@media (max-width: 1200px) {
  .hero-banner .content-block {
    max-width: 660px;
  }
  .hero-banner .content-block .hero-text {
    width: 100%;
  }
  .hero-banner .content-block .hero-animation {
    display: none;
  }
}

.hero-banner a {
  text-decoration: none;
}

.hero-banner h3 {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.hero-banner h4 {
  margin-top: 0;
}

.hero-banner a[role="button"] {
  margin-right: 17px;
  margin-top: 0.6rem;
  margin-bottom: 1.6rem;
}

.hero-banner #btn-guide {
  background-color: #959595 !important;
  border: none;
}

.hero-banner ul {
  padding-inline-start: 21px;
  font-size: 1.1rem;
}

.hero-banner ul li {
  padding-bottom: 0.4rem;
}

.alt-background {
  background-color: #f7f9fb;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

h1 {
  color: #477d75;
  margin: 0px 0px 10px;
}

h2 {
  color: #39729E;
}

h3 {
  color: #00FFFF;
}

/* Experiencias */

.bordes {
  border-style: solid;
  border-color: black;
  border-radius: 0px;
  border-width: 1px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.bloques {
  padding: 50px 0px 0px;
}

p {
  color: #000000;
  margin: 0px 0px 0px;
}

/* Formación académica */

div.educacion div.educacion_date p {
  color: #27965e;
}

div.educacion div.educacion_titulo p {
  color: #000000;
}

div.educacion div.educacion_grado p {


  color: #000000;
}

/* Selector universal */

* {
  color: #000000;
}