[submodule "_pubs/pub_actus-mercator"]
	path = _pubs/pub_actus-mercator
	url = https://github.com/achalmed/actus-mercator.git
	branch = main
	shallow = true
[submodule "_pubs/pub_aequilibria"]
	path = _pubs/pub_aequilibria
	url = https://github.com/achalmed/aequilibria.git
	branch = main
	shallow = true
[submodule "_pubs/pub_axiomata"]
	path = _pubs/pub_axiomata
	url = https://github.com/achalmed/axiomata.git
	branch = main
	shallow = true
[submodule "_pubs/pub_chaska"]
	path = _pubs/pub_chaska
	url = https://github.com/achalmed/chaska.git
	branch = main
	shallow = true
[submodule "_pubs/pub_dialectica-y-mercado"]
	path = _pubs/pub_dialectica-y-mercado
	url = https://github.com/achalmed/dialectica-y-mercado.git
	branch = main
	shallow = true
[submodule "_pubs/pub_epsilon-y-beta"]
	path = _pubs/pub_epsilon-y-beta
	url = https://github.com/achalmed/epsilon-y-beta.git
	branch = main
	shallow = true
[submodule "_pubs/pub_methodica"]
	path = _pubs/pub_methodica
	url = https://github.com/achalmed/methodica.git
	branch = main
	shallow = true
[submodule "_pubs/pub_numerus-scriptum"]
	path = _pubs/pub_numerus-scriptum
	url = https://github.com/achalmed/numerus-scriptum.git
	branch = main
	shallow = true
[submodule "_pubs/pub_optimums"]
	path = _pubs/pub_optimums
	url = https://github.com/achalmed/optimums.git
	branch = main
	shallow = true
[submodule "_pubs/pub_pecunia-fluxus"]
	path = _pubs/pub_pecunia-fluxus
	url = https://github.com/achalmed/pecunia-fluxus.git
	branch = main
	shallow = true
[submodule "_pubs/pub_res-publica"]
	path = _pubs/pub_res-publica
	url = https://github.com/achalmed/res-publica.git
	branch = main
	shallow = true
