project:
  type: website
  output-dir: _site
  resources:
    - resourses/cv.pdf
    - blog/sidebar.jpg
    - teching/sidebar.jpg
    - talk/sidebar.jpg

  #post-render:
  #  - "cp -rnv static/. _site" # source: https://github.com/quarto-dev/quarto-cli/discussions/4162#discussioncomment-4831352

website:
  title: "Edison Achalma B.Sc. Econ."
  description: "Investigador y educador que aplica la ciencia de datos de forma que se dé prioridad a la equidad social."
  google-analytics:
    tracking-id: "G-XGH6TP6RB3"
    anonymize-ip: true
  open-graph:
    locale: es_ES
    site-name: AchalmaEdison
  twitter-card:
    creator: "@achalmaedison"
  comments:
    utterances:
      repo: achalmed/website-achalma
      label: utterances
      theme: body-light
      issue-term: title
  # cookie-consent: true
  site-url: https://achalmaedison.netlify.app/
  repo-url: https://github.com/achalmed/website-achalma

  navbar:
    logo: assets/silvia/img/logo_noBg.svg
    tools:
      - icon: linkedin
        href: https://www.linkedin.com/in/achalmaedison/
        text: "LinkedIn profile"
      - icon: twitter
        href: https://twitter.com/achalmaedison
        text: "Twitter"
      - icon: github
        href: https://github.com/achalmed
        text: "GitHub profile"
    right:
      - text: About
        aria-label: "About Me"
        href: about/index.qmd
      - text: Talks
        aria-label: "Invited Talks"
        href: talk/index.qmd
      - text: Publications
        aria-label: "Publications"
        href: publication/index.qmd
      - text: "Blog"
        aria-label: "Meeting People Where They R"
        href: blog/index.qmd
      - text: "More"
        aria-label: "More"
        icon: ellipsis-h
        menu:
          - text: "Econometria"
            href: https://epsilon-y-beta.netlify.app/
          - text: "Filosofía"
            href: https://dialectica-y-mercado.netlify.app/
          - text: "Finanzas"
            href: https://pecunia-fluxus.netlify.app/
          - text: "Gestión empresarial"
            href: https://actus-mercator.netlify.app/
          - text: "Gestión pública"
            href: https://res-publica.netlify.app/
          - text: "Ofimática"
            href: herramientas-oficina/index.qmd
          - text: "Metodología de la investigación"
            href: https://methodica.netlify.app/
          - text: "Macroeconomía"
            href: https://aequilibria.netlify.app/
          - text: "Matemáticas"
            href: https://axiomata.netlify.app/
          - text: "Microeconomía"
            href: https://optimums.netlify.app/
          - text: "Programación y Software"
            href: https://numerus-scriptum.netlify.app/
          - text: "Cursos"
            href: teching/index.qmd
          - text: "Seguridad informática"
            href: tecnologia-seguridad/index.qmd
          - text: "Book an appointment"
            href: appointment/index.qmd

  page-footer:
    left: >-
      &#169; 2025 Edison Achalma &#8729; Made with [Quarto](https://quarto.org)
    center: |
      <a class="link-dark me-1" href="/accessibility.html" title="Accessibility commitment" target="_blank" rel="noopener">{{< fa universal-access >}}</a>
      <a class="link-dark me-1" href="https://fosstodon.org/@achalmaedison" title="mastodon" target="_blank" rel="noopener">{{< fa brands mastodon >}}</a>
      <a class="link-dark me-1" href="https://github.com/achalmed" title="github" target="_blank" rel="noopener">{{< fa brands github >}}</a>
      <a class="link-dark me-1" href="https://orcid.org/0000-0001-6996-3364" title="orcid" target="_blank" rel="noopener">{{< ai orcid >}}</a>
      <a class="link-dark me-1" href="https://scholar.google.com/citations?hl=en&user=LvAkIvcAAAAJ" title="Google Scholar" target="_blank"rel="noopener">{{< ai google-scholar >}}</a>
      <a class="link-dark me-1" href="https://linkedin.com/in/achalmaedison" title="LinkedIn" target="_blank" rel="noopener">{{< fa brands linkedin >}}</a>

    right:
      - text: "Accessibility"
        aria-label: "Accessibility Commitment"
        href: accessibility.qmd
      - text: "Contact"
        aria-label: "Contact Form"
        href: "contact.qmd"
      - text: "License"
        aria-label: "License Details"
        href: license.qmd
      - icon: rss
        href: index.xml
        #href: https://achalmaedison.netlify.app/blog/index.xml

# bibliography: references.bib
lang: es

format:
  html:
    theme:
      light:
        - cosmo
        # - superhero
        - assets/silvia-theme.scss
        - assets/silvia/colors.scss
        - assets/silvia/fonts.scss
    highlight-style: a11y
    code-link: true
    pagetitle: "{{< meta title >}}"
    lightbox:
      match: auto
      effect: fade
      desc-position: right
      loop: false
    