altair==5.0.1
matplotlib==3.7.1
numpy==1.24.1
pandas==2.0.2
pyarrow==12.0.1
scikit-learn==1.2.2
statsmodels==0.14.0
xgboost==1.7.4
vega @ git+https://github.com/vega/ipyvega/@master
vega_datasets
vegafusion
vegafusion-python-embed
vl-convert-python