/*-- scss:defaults --*/
/* Definición de variables de color predeterminadas para el proyecto */

$spc-bg: #fffbf2; // Color de fondo principal: tono crema claro (anteriormente #F5F5F5, #fffcf7, #fffbf5)
$spc-bg-dark: #FAF0E3; // Color de fondo oscuro: tono crema más oscuro (anteriormente #EBEBEB, #FBEBDA, #FAF0E3, WIP #FFF2EB)
$spc-primary: #002642; // Color primario: azul oscuro profundo (anteriormente #122140, #1C304A, #002642)
$spc-primary-light: #2E4963; // Color primario claro: azul grisáceo (anteriormente #475269, #32415A, #2E4963)
$spc-secondary: #A23E02; // Color secundario: naranja rojizo oscuro (anteriormente #936C10, #815E0E, #b04303)
$spc-secondary-light: #D96E34; // Color secundario claro: naranja más claro y vibrante
$spc-accent: #b9c680; // Color de acento: verde oliva claro
$spc-accent-light: #EEF1E0; // Color de acento claro: verde crema muy suave